#header{
    background-color: #000000;
    color: #fff;
    padding:20px;
    text-align: center;
}

.navigation{
    background-color: aqua;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav a{
    color: blue;
    text-decoration: solid;
    padding: 0% 20px;


}

.main{
    display: flex;
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 191, 0);
}

#main-section {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    background-color: beige;
}


.container{
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: rgb(229, 255, 0);
}

footer{
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
    bottom: 0;
    position: fixed;

}